/*====================== universal code =========================*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h2 {
  font: 43px "Playfair Display", serif;
  color: #d22f25;
  margin: 0 0 40px 0;
  line-height: 1.25;
}
h2:after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background: #e2e2e2;
  margin: 20px auto 0;
}

h4 {
  font: 22px "Open Sans", sans-serif;
  color: #151515;
  margin: 0 0 20px 0;
  line-height: 1.25;
}

p {
  font: 16px "Open Sans", sans-serif;
  color: #575757;
  line-height: 1.5;
}

.section-space {
  padding: 80px 0;
}

.img-responsive {
  display: initial;
}

.section-title {
  text-align: center;
}

/*====================== Header Section =========================*/
.main-header {
  border-top: 10px solid #f6f6f6;
}
.main-header .eye {
  margin: 0 0 30px 0;
}
.main-header .secton-title h4 {
  padding-bottom: 24px;
}

.logo {
  margin: 30px 0;
}
.logo h1 {
  color: #777777;
  font: 14px "Open Sans", sans-serif;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: 10px 0 0 0;
  text-transform: uppercase;
}
.logo a:hover, .logo a:focus {
  text-decoration: none !important;
}

/*====================== Service Section =========================*/
.service {
  background: #f6f6f6;
}
.service .content p {
  max-width: 733px;
  margin: 0 auto 30px;
}
.service .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.service .content ul li {
  margin-bottom: 1px;
  color: #575757;
}

/*====================== contact Section =========================*/
.contact .section-title h4 {
  max-width: 733px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

.contct-form {
  max-width: 733px;
  margin: 0 auto;
}
.contct-form input,
.contct-form textarea {
  width: 100%;
  color: #474747;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 15px;
  margin: 0 0 20px 0;
}
.contct-form .message-box {
  height: 217px;
}
.contct-form .submit {
  padding: 15px 40px;
  background: #d22f25;
  border: none;
  color: #fff;
  font-weight: 700;
  width: auto;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
  letter-spacing: 1px;
}
.contct-form .submit:hover {
  background-color: #e9352a;
}

/*====================== footer Section =========================*/
.main-footer {
  background: #111111;
  padding: 60px 0 99px;
}
.main-footer .copy-right {
  color: #f1f1f1;
}

/*====================== Media Query =========================*/
/*====================== Tab/Notebook =========================*/
@media (max-width: 991px) {
  .logo img {
    max-height: 45px;
  }
  .logo h1 {
    font-size: 12px;
  }

  h2 {
    font-size: 31px;
  }

  h4 {
    font-size: 20px;
  }

  .service .content p {
    max-width: 688px;
  }

  .contact .section-title h4,
  .contct-form {
    max-width: 445px;
  }
}
/*====================== Phone =========================*/
@media (max-width: 767px) {
  .contact .section-title h4,
  .contct-form {
    max-width: 100%;
  }

  .contct-form .submit {
    width: 100%;
  }

  .logo {
    margin: 20px 0;
  }
}
