/*====================== universal code =========================*/

$f: 'Open Sans',
sans-serif;
$p: 'Playfair Display',
serif;
body {
    font-family: $f;
    font-size: 16px;
}

h2 {
    font: 43px/1.25 $p;
    color: rgb(210, 47, 37);
    margin: 0 0 40px 0;
    &:after {
        content: "";
        display: block;
        height: 2px;
        width: 50px;
        background: rgb(226, 226, 226);
        margin: 20px auto 0;
    }
}

h4 {
    font: 22px/1.25 $f;
    color: rgb(21, 21, 21);
    margin: 0 0 20px 0;
}

p {
    font: 16px/1.5 $f;
    color: rgb(87, 87, 87);
}

.section-space {
    padding: 80px 0;
}

.img-responsive {
    display: initial;
}

.section-title {
    text-align: center;
}


/*====================== Header Section =========================*/

.main-header {
    border-top: 10px solid rgb(246, 246, 246);
    .eye {
        margin: 0 0 30px 0;
    }
    .secton-title {
        h4 {
            padding-bottom: 24px;
        }
    }
}

.logo {
    margin: 30px 0;
    h1 {
        color: rgb(119, 119, 119);
        font: 14px/1.2 $f;
        letter-spacing: 0.14em;
        margin: 10px 0 0 0;
        text-transform: uppercase;
    }
    a {
        &:hover,
        &:focus {
            text-decoration: none !important;
        }
    }
}


/*====================== Service Section =========================*/

.service {
    background: rgb(246, 246, 246);
    .content {
        p {
            max-width: 733px;
            margin: 0 auto 30px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-weight: 700;
            li {
                margin-bottom: 1px;
                color: rgb(87, 87, 87);
            }
        }
    }
}


/*====================== contact Section =========================*/

.contact {
    .section-title {
        h4 {
            max-width: 733px;
            margin-left: auto;
            margin-right: auto;
            word-wrap: break-word;
        }
    }
}

.contct-form {
    max-width: 733px;
    margin: 0 auto;
    input,
    textarea {
        width: 100%;
        color: rgb(71, 71, 71);
        border: 1px solid rgb(226, 226, 226);
        border-radius: 4px;
        padding: 15px;
        margin: 0 0 20px 0;
    }
    .message-box {
        height: 217px;
    }
    .submit {
        padding: 15px 40px;
        background: rgb(210, 47, 37);
        border: none;
        color: #fff;
        font-weight: 700;
        width: auto;
        text-transform: uppercase;
        transition: .5s;
        letter-spacing: 1px;
        &:hover {
            background-color: rgb(233, 53, 42);
        }
    }
}


/*====================== footer Section =========================*/

.main-footer {
    background: rgb(17, 17, 17);
    padding: 60px 0 99px;
    .copy-right {
        color: rgb(241, 241, 241);
    }
}


/*====================== Media Query =========================*/


/*====================== Tab/Notebook =========================*/

@media (max-width:991px) {
    .logo {
        img {
            max-height: 45px;
        }
        h1 {
            font-size: 12px;
        }
    }
    h2 {
        font-size: 31px;
    }
    h4 {
        font-size: 20px;
    }
    .service .content p {
        max-width: 688px;
    }
    .contact .section-title h4,
    .contct-form {
        max-width: 445px;
    }
}


/*====================== Phone =========================*/

@media (max-width:767px) {
    .contact .section-title h4,
    .contct-form {
        max-width: 100%;
    }
    .contct-form .submit {
        width: 100%;
    }
    .logo {
        margin: 20px 0;
    }
}
